{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}





{% block title %}
    {% trans "Please insert the 3-Digit code you received from the organisers." %}
{% endblock %}

{% block content %}
{% blocktrans trimmed %}
<p>In order for the experiment to unwind regularly and to receive the payment it is very important to insert the code correctly. </p>
<p>Ask the organisers if you have doubts.</p>
<p></p>
<p>

{% endblocktrans %}
<hr style="background:#F87431; border:0; height:7px" />
{% trans "Insert the code you received." as label_value1 %}

{% trans "Please insert the code again." as label_value2 %}



    {% formfield player.kind with label=label_value1 %}

    {% formfield player.kindCopy with label=label_value2 %}




<p>



<p>

<p>{% next_button %}</p>



{% endblock %}