{% extends "global/Instructions.html" %}
{% load i18n %}


{% block instructions %}

{% blocktrans trimmed %}
<p> Stai per partecipare ad un gioco di mercato assieme ad un altro partecipante abbinato a te casualmente.
Rappresentate due imprese che competono fra loro. Producete un bene fittizio di cui dovete determinare
    il <strong>prezzo di vendita</strong> e la <strong>qualità</strong>.
    Una maggiore qualità comporta maggiori costi di produzione.</p>
<p> La <strong>quota di mercato</strong> di ogni impresa è determinata automaticamente dal computer tramite un algoritmo matematico che riproduce le attitudini realistiche di consumatori
    con un certo grado di preferenza per la qualità. Sinteticamente, la quota di mercato di una impresa è tanto maggiore quanto più alta
    la qualità del suo bene e quanto più basso il suo prezzo di vendita. Allo stesso tempo, sarà crescente nel prezzo del rivale e decrescente nella qualità del suo bene.
    La seguente tabella sintetizza queste relazioni.</p>


<p>
    <table align="center" class="table" style="width:70%">

        <tr>
            <td> </td>
            <td align="center"> Tua qualità  </td>
            <td align="center"> Tuo prezzo </td>
            <td align="center"> Sua qualità </td>
            <td align="center"> Suo prezzo </td>
        </tr>
        <tr>
            <td> Tua quota di mercato </td>
            <td align="center"> + </td>
            <td align="center"> – </td>
            <td align="center"> – </td>
            <td align="center"> + </td>
        </tr>
        <tr>
            <td> Sua quota di mercato </td>
            <td align="center"> – </td>
            <td align="center"> + </td>
            <td align="center"> + </td>
            <td align="center"> – </td>
        </tr>

    </table>

</p>
<p> La qualità può essere un qualsiasi numero intero fra 0 e 400: più alto il numero scelto, più alta sarà la qualità
    (e quindi anche i costi di produzione). Il prezzo può essere un qualsiasi numero intero compreso fra la qualità
    scelta e 400. La quota di mercato sarà una percentuale compresa tra lo 0% e il 100%.
    Il gioco durerà per 10 turni consecutivi in cui fronteggerai sempre lo stesso “rivale”.
    Anche l’algoritmo che determina le quote di mercato è lo stesso per tutta la durata del gioco.
    In ogni turno il profitto di impresa ottenuto sia da te che dal rivale sarà pari al seguente punteggio:</p>
<p>
    <style>
  #ex2_container { width:100%}
  #ex2_content { margin:1px auto; color:black; display:table; }
  #ex3_container { width:100%}
  #ex3_content { margin:1px auto; color:black; display:table; }
</style>
<div id="ex2_container"><div id="ex2_content"><strong>Profitto = (Prezzo - Qualità) x Quota di mercato</strong></div></div>
 </p>

<p> Fra un turno e l’altro del gioco saranno resi noti ad entrambi le qualità e il prezzo di ogni offerta e le
    rispettive quote di mercato. Ti sarà pure mostrato il tuo profitto.
    Alla fine del gioco sarà sorteggiato uno specifico turno e i punti da te ottenuti in quel turno saranno trasformati in euro secondo il tasso di conversione 20 punti = 1 euro.
    </p>
{% endblocktrans %}
{% endblock %}


