{% extends "global/Instructions.html" %}
{% load otree_tags %}
{% load i18n %}

{% block instructions %}

{% blocktrans trimmed %}

This activity is played on a single round and participants will be matched in pairs.
    Each pair has an endowment of 100 points to split between the two participants.
    One participant will play the role of DECIDER, and will have to decide how to split the 100 points, by choosing what amount to keep.
    The rest will go to the other participant who will play the role of RECEIVER who does not play any active part.
    If the DECIDER keeps an amount K, the corresponding RECEIVER will get 100-K. </p> Each participant will actually be part of two groups:
in one group he/she will play the role of DECIDER, while the RECEIVER will be some subject x,
whose identity he/she cannot know. In the other group he/she will be RECEIVER, while the DECIDER will be
some other subject y (different from x), whose identity he/she cannot know. It is important to note that note that you will be assigned to two different groups.
Eventually the computer will randomly select
which groups determine the actual payoffs. In practice, there will be a 50% chance that the
group in which you are DECIDER is selected, and therefore that your choice will be implemented for you and subject
x, and a 50% chance that instead the group in which you are RECEIVER is selected, and therefore that subject y's
choice will determine his/her and your payoff. The situation in which, for a subject, both groups to which he/she
is associated are selected cannot arise.
{% endblocktrans %}

{% endblock %}
