{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}





{% block title %}
    {% trans "Please choose quality and price" %} {% trans " - Round" %} {{ subsession.round_number }} {% trans "of" %} {{ Constants.num_rounds }}
{% endblock %}

{% block content %}

{% trans "Choose a number between 0 and 400 as your quality." as label_q %}
{% trans "Choose a number between quality (chosen above) and 400 as your price." as label_p %}


    {% formfield player.quality with label=label_q %}

    {% formfield player.price with label=label_p %}
<p>



<p>

<p>{% next_button %}</p>

    {% include short_instructions %}

{% endblock %}





