{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}





{% block title %}
    {% trans "Scegli il tuo prezzo e la tua qualita'" %}
{% endblock %}

{% block content %}

    {% formfield player.price with label="Scegli un numero tra 0 e 400 per il tuo prezzo" %}

    {% formfield player.quality with label="Scegli un numero tra 0 e il prezzo scelto per la tua qualita'" %}
<p>
    {% blocktrans trimmed %}
        Turno {{ turn }} di {{ Constants.num_rounds }}
    {% endblocktrans %}
<p>

<p>{% next_button %}</p>

    {% include instructions %}

{% endblock %}





