{% extends "global/Instructions.html" %}
{% load i18n %}


{% block instructions %}

{% blocktrans trimmed %}
<p> You are about to participate in a market game, together with another participant who has been randomly associated with you.
    You represent two firms competing against each other. You produce a fictional good and you are responsible for choosing
    its <strong>selling price</strong> and its <strong>social quality</strong>, that is the type of external effect due to its production.
    For example, you may think of choosing production inputs with a better environmental or social impact  (e.g. materials that involve less pollution,
    no child labour, etc.). More social quality implies greater production costs.</p>
<p> Each firm's <strong>market share</strong> is automatically determined by the computer, using
 a mathematical algorithm which mimics the realistic preferences of consumers having a given degree of social consciousness.
A firm's market share is higher, the higher the produced good's social quality and the lower its price. At the same time, it is increasing in
    the competitor's selling price and decreasing in its social quality. The following table summarizes these relations. </p>
{% endblocktrans %}

<p>
    <table align="center" class="table" style="width:70%">

        <tr>
            <td> </td>
            <td> {% trans "Your quality" %}  </td>
            <td> {% trans "Your price" %} </td>
            <td> {% trans "Competitor's quality" %} </td>
            <td> {% trans "Competitor's price" %} </td>
        </tr>
        <tr>
            <td> {% trans "Your market share" %} </td>
            <td> + </td>
            <td> - </td>
            <td> - </td>
            <td> + </td>
        </tr>
        <tr>
            <td> {% trans "Competitor's market share" %} </td>
            <td> - </td>
            <td> + </td>
            <td> + </td>
            <td> - </td>
        </tr>

    </table>

</p>
{% blocktrans trimmed %}
<p> The quality can be any integer number between 0 and 400: higher numbers mean higher quality (and hence higher production costs).
The price can be any integer number between the chosen quality and 400. The market share will be a percentage between 0% and 100%.
The game will last for 10 consecutive rounds in which you will be facing the same competitor. The algorithm that determines the market shares also remains
the same throughout the whole game. At each round the firm's profit earned by yourself and your competitor will be equal to:</p>
{% endblocktrans %}

<p>
    <style>
  #ex2_container { width:100%}
  #ex2_content { margin:1px auto; color:black; display:table; }
  #ex3_container { width:100%}
  #ex3_content { margin:1px auto; color:black; display:table; }
</style>
<div id="ex2_container"><div id="ex2_content"><strong>{% trans "Profit = (Price - Quality) x Market share" %}</strong></div></div>
 </p>

{% blocktrans trimmed %}
<p> The social contribution associated to your production at each round of the game will be equal to:</p>
<p>
{% endblocktrans %}
<div id="ex3_container"><div id="ex3_content"><strong>{% trans "Social contribution = 1.5 x Quality x Market share" %}</strong></div></div>
 </p>
<p>
{% blocktrans trimmed %}
<p> Notice that a unit increase in the good's quality generates an increase in social contribution which is proportionally higher than the
cost increase (this is due to the multiplicative factor 1.5 in the formula). </p>
<p> Between each round and the next both players will be notified qualities and prices and the resulting market shares. Your profit and social contribution
will also be shown. At the end of the game one specific round will be randomly selected and the points you earned in that period, both in terms of
profit and social contribution, will be transformed in cash. The money corresponding to the social contribution in the paying period will be transferred to the charity of your choice.
</p>
{% endblocktrans %}
{% endblock %}


