{% extends "global/Short_Instructions.html" %}
{% load i18n %}


{% block short_instructions %}

{% blocktrans trimmed %}
<p> Stai partecipando ad un gioco di mercato assieme ad un altro partecipante abbinato a te casualmente.
Rappresentate due imprese che competono fra loro. Producete un bene di cui dovete scegliere qualità sociale e prezzo di vendita.
    La quota di mercato di ogni impresa è determinata da un algoritmo che riproduce delle preferenze di consumatori
    con un certo grado di sensibilità sociale. Sinteticamente, la quota di mercato di una impresa è tanto maggiore quanto più alta
    la qualità sociale del suo bene e più basso il suo prezzo di vendita. Allo stesso tempo è crescente nel prezzo del rivale e decrescente nella qualità sociale del suo bene.
    La seguente tabella sintetizza queste relazioni.</p>


<p>
    <table align="center" class="table" style="width:70%">

        <tr>
            <td> </td>
            <td> Tua qualità  </td>
            <td> Tuo prezzo </td>
            <td> Sua qualità </td>
            <td> Suo prezzo </td>
        </tr>
        <tr>
            <td> Tua quota di mercato </td>
            <td> + </td>
            <td> - </td>
            <td> - </td>
            <td> + </td>
        </tr>
        <tr>
            <td> Sua quota di mercato </td>
            <td> - </td>
            <td> + </td>
            <td> + </td>
            <td> - </td>
        </tr>

    </table>

</p>
<p> La qualità può essere un qualsiasi numero intero fra 0 e 400, il prezzo un qualsiasi numero intero compreso fra la qualità scelta e 400. La quota di mercato sarà una percentuale compresa tra lo 0 e il 100%.
Il gioco dura per 10 round consecutivi, sempre con lo stesso “rivale”. In ogni round il profitto di impresa ottenuto sia da te che dal rivale sarà pari al seguente punteggio:</p>
<p>

<strong>Profitto = (Prezzo - Qualità) x Quota di mercato</strong>
 </p>
<p>
Il beneficio sociale associato alla produzione è pari al seguente punteggio:</p>
<p><strong>Beneficio sociale = Qualità x 1,5 x Quota di mercato</strong>
 </p>
<p>
Alla fine del gioco sarà sorteggiato uno specifico round e i punti da te ottenuti in quel round, sia come profitto individuale sia come beneficio sociale, saranno trasformati
    in euro secondo il tasso di conversione 2 punti = 1 euro. I punti corrispondenti al beneficio sociale saranno presi dal tuo pagamento complessivo e versati alla
    organizzazione benefica da te indicata.</p>
{% endblocktrans %}

{% endblock %}