{% extends "global/Short_Instructions.html" %}
{% load i18n %}


{% block short_instructions %}

{% blocktrans trimmed %}
<p> Your market share is higher the higher the quality and lower the price of the good you produce.
    At the same time, it is increasing in the competitor's selling price and decreasing in its social quality.
    The following table summarizes these relations.</p>
{% endblocktrans %}

<p>
   <table align="center" class="table" style="width:70%">

    <tr>
        <td> </td>
        <td align="center"> {% trans "Your quality" %}  </td>
        <td align="center"> {% trans "Your price" %} </td>
        <td align="center"> {% trans "Competitor's quality" %} </td>
        <td align="center"> {% trans "Competitor's price" %} </td>
    </tr>
    <tr>
        <td> {% trans "Your market share" %} </td>
        <td align="center"> + </td>
        <td align="center"> – </td>
        <td align="center"> – </td>
        <td align="center"> + </td>
    </tr>
    <tr>
        <td> {% trans "Competitor's market share" %} </td>
        <td align="center"> – </td>
        <td align="center"> + </td>
        <td align="center"> + </td>
        <td align="center"> – </td>
    </tr>

    </table>


</p>
{% blocktrans trimmed %}
<p> In each round your profit will be equal to:</p>
<p>

<strong>Profit = (Price - Quality) x Market share</strong>
 </p>
<p>
The social contribution associated to your production at each round of the game will be equal to:</p>
<p><strong>Social contribution = 1.5 x Quality x Market share</strong>
 </p>
<p>
The points you earn in the paying period, both in terms of
profit and social contribution, will be transformed in cash.

</p>
{% endblocktrans %}

{% endblock %}