{% extends "global/Short_Instructions.html" %}
{% load i18n %}


{% block short_instructions %}

{% blocktrans trimmed %}
<p> Ti ricordiamo che la tua quota di mercato è tanto maggiore quanto più alta la qualità del tuo bene
    e più basso il suo prezzo. Allo stesso tempo è crescente nel prezzo del rivale e decrescente nella sua qualità.
    La seguente tabella sintetizza queste relazioni.</p>
{% endblocktrans %}

<p>
    <table align="center" class="table" style="width:70%">

        <tr>
            <td> </td>
            <td> {% trans "Your quality" %}  </td>
            <td> {% trans "Your price" %} </td>
            <td> {% trans "Competitor's quality" %} </td>
            <td> {% trans "Competitor's price" %} </td>
        </tr>
        <tr>
            <td> {% trans "Your market share" %} </td>
            <td> + </td>
            <td> - </td>
            <td> - </td>
            <td> + </td>
        </tr>
        <tr>
            <td> {% trans "Competitor's market share" %} </td>
            <td> - </td>
            <td> + </td>
            <td> + </td>
            <td> - </td>
        </tr>

    </table>


</p>
{% blocktrans trimmed %}
<p> In ogni turno il tuo profitto sarà pari a:</p>
<p>

<strong>Profitto = (Prezzo - Qualità) x Quota di mercato</strong>
 </p>
<p>
Il beneficio sociale associato alla tua produzione è pari a:</p>
<p><strong>Beneficio sociale = 1,5 x Qualità x Quota di mercato</strong>
 </p>
<p>
    I punti da te ottenuti in termini di profitto e di beneficio sociale nel turno sorteggiato saranno trasformati
    in euro.

</p>
{% endblocktrans %}

{% endblock %}