{% extends "global/Base.html" %}
{% load otree_tags %}
{% load i18n %}

{% block title %}
{% blocktrans with num_q=num_q|default:1 total_q=total_q|default:1 %}
<!--Solution to Understanding Question {{ num_q }} of {{ total_q }}-->
Soluzione alla Domanda di comprensione {{ num_q }} di {{ total_q }}
{% endblocktrans %}
{% endblock %}

{% block content %}
{% for question, answer in answers.items|default:answers %}
{% ifequal answer.0 answer.1 %}
<p class="text-success">
La tua risposta {{answer.0}} a {{question}} era corretta.
</p>
{% else %}
<p class="text-danger">
La tua risposta {{answer.0}} a {{question}} era sbagliata.
</p>
{% endifequal %}
{% endfor %}
{% if answer %}
{% ifequal answer.0 answer.1 %}
<p class="text-success">
La tua risposta {{answer.0}} era corretta.
</p>
{% else %}
<p class="text-danger">
La tua risposta {{answer.0}} era sbagliata.
</p>
{% endifequal %}
{% endif %}
{% block explanation %}
{{explanation|linebreaks}}
{% endblock %}
<p>{% next_button %}</p>

{% include instructions %}
{% endblock %}
