{% load otree_tags %}
{% load i18n %}
<div class="box effect7">
    <h4>{%trans "Instructions" %}</h4>
    {% block instructions %}{% endblock %}
    {% blocktrans trimmed  %}
    <p>
Per comodità le istruzioni (o una loro sintesi) rimarranno disponibili in tutte le successive schermate.
    </p>
    {% endblocktrans %}
</div>
<!-- Translates:-->
<!--
        For your convenience, these instructions (or a short version of them) will remain available to you on all subsequent screens of this activity.-->