{% extends "global/Base.html" %}
{% load otree_tags %}
{% load i18n %}

{% block title %}
{% if title %}
{{ title }}
{% else %}

{% blocktrans with num_q=num_q|default:1 total_q=total_q|default:1 %}
Understanding question {{ num_q }} of {{ total_q }}
{% endblocktrans %}

{% endif %}
{% endblock %}

{% block content %}
{# question can be passed in context, overriden, or read from other template #}
{% block question %}
{% if question %}
{{ question|linebreaks }}
{% elif question_template %}
{% include question_template %}
{% endif %}
{% endblock question %}
{% if note %}
<p><i>{{note}}</i></p>
{% endif %}
{# render <form> #}
{% for field in form %}
<br><br><p>{% formfield field %}</p>
{% endfor %}

<p>{% next_button %}</p>
{% include instructions %}
{% endblock %}